@font-face {
  font-family: 'ArianaPro';
  src: url('assets/ArianaProRegular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'ArianaPro';
  src: url('assets/ArianaProMedium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'ArianaPro';
  src: url('assets/ArianaProBold.ttf') format('truetype');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'ArianaPro', sans-serif;
  background-color: #F6F6F6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0;
}


.balance-section {
  text-align: left;
  margin-bottom: 20px;
}

.balance-section p {
  font-size: 16px;
  color: #B0B0B0;
  font-weight: normal;
  margin-bottom: 4px;
}

.balance-amount {
  font-family: 'ArianaPro', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #333;
}


.calories-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  position: relative;
}

.calories-input-wrapper {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.calories-input {
  font-size: 28px;
  font-weight: bold;
  border: none;
  outline: none;
  width: 65%;
  background-color: #F6F6F6;
  color: #333;
}


.spt-value {
  font-size: 16px;
  color: #888;
  margin-left: 8px;
  white-space: nowrap;
  font-weight: normal;
}

.reset-btn {
  font-size: 36px;
  color: #888;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.calories-label {
  font-size: 14px;
  color: #B0B0B0;
  margin-bottom: 8px;
  display: block;
}

.input-line {
  height: 1px;
  background-color: #ddd;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Кнопки */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
  font-size: 18px;
  font-weight: 500;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  border: none;
  width: 48%;
}

.button img {
  margin-right: 8px;
}

.add-btn {
  background-color: #63C477;
  color: #fff;
}

.spend-btn {
  background-color: #2C2C2C;
  color: #fff;
}

.menu-btn {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 20px;
}

.menu-list-btn {
  width: 100%;
  background-color: #7C7CFF;
  color: white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.menu-list-btn img {
  margin-right: 8px;
}

/* История баланса */
.history-section-wrapper {
  background-color: #fff;
  padding: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100vw;
  height: 50%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
}

.history-section h3 {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: bold;
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.history-item:last-child {
  margin-bottom: 0;
}

.history-left {
  display: flex;
  align-items: center;
}

.history-left img {
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.history-text {
  font-size: 18px;
  font-weight: 500;
}

.history-text-small {
  font-size: 16px;
  color: #888;
  font-weight: normal;
}

.history-status-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.history-status {
  font-size: 16px;
  margin-bottom: 4px;
}

.history-label {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 8px;
  color: white;
  text-align: center;
}

/* Стили для дневной темы */
.positive {
    background-color: #63C477;
}

.negative {
    background-color: #FF6C6C;
}

.scrollable {
  overflow-y: auto;
}

.product-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.product-list li {
    font-size: 18px;
    margin-bottom: 12px;
    font-family: 'ArianaPro', sans-serif;
}

.back-button img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.notification {
    position: absolute;
    top: 8.2%; /* Позиционируем по центру родителя */
    background-color: #63C477;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1000;
    transform: translateY(37%); /* Остается на том же уровне, что и элемент */
    right: 2%;
    width: 34%;
}

.notification-spend {
    background-color: #FF6C6C;
}

.notification.show {
    opacity: 1;
}

.notification.hidden {
    display: none;
}

.history-date {
    font-size: 12px;
    color: #888;
    margin-top: 4px;
}

.empty-history-message {
    text-align: center;
    font-size: 18px;
    color: #888;
    margin-top: 20px;
}

.alert-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; /* Сделать алерт шире */
    max-width: 400px; /* Ограничить максимальную ширину */
}

.alert-content p {
    font-size: 18px;
    margin-bottom: 24px;
    text-align: center;
}

.alert-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.alert-btn {
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #F0F0F0; /* Светло-серый фон для кнопок */
    color: #333;
    transition: background-color 0.3s ease;
}

.alert-btn:last-child {
    background-color: #D0D0D0; /* Более тёмный серый для кнопки отмены */
    color: #333;
}

.hidden {
    display: none;
}

.alert-window.show {
    display: flex;
}

/* Устанавливаем относительное позиционирование для контейнера */
.container {
    width: 100%;
    max-width: 420px;
    padding: 24px;
    box-sizing: border-box;
    position: relative; /* Позиционируем контейнер относительно страницы */
    margin-bottom: 32px; /* Отступ для корректного расчета */
}

/* История фиксированно на 32px ниже контейнера */
.history-section-wrapper.scrollable {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    overflow-y: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    padding-top: 32px;
    height: auto; /* Высота устанавливается динамически через JS */
}

/* Стили для секции клавиатуры */
.keyboard-section {
    bottom: 0;
    width: 100%;
}

.numeric-keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Сетка 3 колонки */
    gap: 12px;
    width: 100%; /* Растягиваем на всю ширину контейнера */
    max-width: 400px; /* Устанавливаем максимальную ширину */
    margin: 0 auto; /* Центрируем блок клавиатуры */
    margin-bottom: 16px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding: 16px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center; /* Центрируем текст внутри кнопок */
}

.key img {
    width: 28px;
    height: 28px;
}

.key img #reset {
    width: 34px;
    height: 34px;
}

.back-button {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 90%;
    max-width: 420px;
    background: #F6F6F6;
    border: 1px solid rgba(22, 20, 20, 0.6); /* Обводка с 60% прозрачностью */
}


.hidden {
    display: none;
}

.delete-light, .back-light, .reset-light {
    display: block;
}

.delete-dark, .back-dark, .reset-dark {
    display: none;
}

/* В темной теме меняем видимость */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #212121;
    color: #E0E0E0;
  }

  .balance-section p {
    color: #888;
  }

  .balance-amount {
    color: #E0E0E0;
  }

  .calories-input {
    background-color: #212121;
    color: #E0E0E0;
  }

  .calories-section {
    border-bottom: 1px solid #333;
  }

  .spt-value, .reset-btn {
    color: #888;
  }

  .input-line {
    background-color: #333;
  }

  .calories-label {
    color: #888;
  }

  .spend-btn {
    background-color: #424242;
    color: #E0E0E0;
  }

  .add-btn {
    background-color: #277847;
    color: #E0E0E0;
  }

  .menu-list-btn {
    background-color: #5D4AB7;
    color: #E0E0E0;
  }

    .delete-light, .back-light, .reset-light {
        display: none;
    }

    .delete-dark, .back-dark, .reset-dark {
        display: block;
    }

    .history-section-wrapper.scrollable {
        background: #212121;
    }

    .alert-window {
        background-color: #2C2C2C; /* Темный фон для алерта */
        color: #E0E0E0; /* Светлый текст для алерта */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Темный тень */
    }

    .alert-btn {
        background-color: #444; /* Темные кнопки */
        color: #E0E0E0;
    }

    .alert-btn:last-child {
        background-color: #666; /* Более темный фон для кнопки отмены */
        color: #E0E0E0;
    }

    .history-section-wrapper {
        background-color: #1E1E1E;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.7);
    }

    .history-text-small {
        color: #888;
    }

    .history-status {
        color: #E0E0E0;
    }

    .back-button {
        background-color: #212121;
        color: #E0E0E0;
        border: 1px solid rgba(224, 224, 224, 0.6); /* Обводка с 60% прозрачностью */
    }

    .positive {
        background-color: #4CAF50; /* Темно-зелёный для ночной темы */
    }

    .negative {
        background-color: #E57373; /* Темно-красный для ночной темы */
    }
}