@font-face {
  font-family: 'ArianaPro';
  src: url('assets/ArianaProRegular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'ArianaPro';
  src: url('assets/ArianaProMedium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'ArianaPro';
  src: url('assets/ArianaProBold.ttf') format('truetype');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'ArianaPro', sans-serif;
  background-color: #F6F6F6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #E0E0E0;
  }
}

/* Основной контейнер */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 24px;
    box-sizing: border-box;
    justify-content: space-between; /* Для распределения пространства */
}

/* Контейнер для списка продуктов с ограниченной высотой */
.product-container {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 80px; /* Отступ от кнопки */
}

/* Стили для кнопки "Назад" */
.back-button {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 20px;
    background-color: #7C7CFF;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 90%;
    max-width: 420px;
}

/* Заголовок */
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
}

/* Стили для элементов списка */
.product-list li {
    font-size: 18px;
    margin-bottom: 12px;
    list-style: none;
}

/* Стили для ночной темы */
@media (prefers-color-scheme: dark) {
    .container {
        background-color: #121212;
        color: #E0E0E0;
    }

    .back-button {
        background-color: #4242FF;
    }

    h1 {
        color: #ffffff;
    }

    .product-list li {
        color: #E0E0E0;
    }
}